#shop-banner {
    padding: 60px 0;
    .row {
        background: var(--blue);
        color: var(--white);
        border-radius: 20px;
    }
    h2 {
        font-size: 45px;
        font-family: "Poppins-SemiBold", cursive;
    }
    img {
        bottom: 20px;
        position: relative;
        scale: 1.1;
    }
    .btn {
        background: var(--white);
        color: var(--blue);
        padding: 10px 40px;
    }
}