#shop-banner {
    padding: 60px 0;
    .row {
        background: var(--blue);
        color: var(--white);
        border-radius: 20px;
    }
    h2 {
        font-size: 36px;
        text-align: center;
        font-family: "Poppins-SemiBold", cursive;
        @media screen and (min-width: 768px) {
            font-size: 45px;
            text-align: left;
        }
    }
    img {
        bottom: 20px;
        position: relative;
        scale: 1.1;
    }
    .btn {
        background: var(--white);
        color: var(--blue);
        padding: 10px 40px;
    }
    .text {
        text-align-last: center;
        @media screen and (min-width: 768px) {
        text-align-last: left;
        }
    }
}