:root {
  --black: #121212;
  --white: #ffffff;
  --grey: #f5f5f5;
  --dark-grey: #f8f8f8;
  --blue: #0D66DB;
}

body {
  margin: 0;
  background: var(--white);
  color: var(--black);
  overflow-x: hidden;
}

*:focus {
  outline: none;
}

.overflow {
  overflow: hidden;
}

textarea {
  resize: none;
}

.search-field {
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 25px;
}

article {
  margin-top: 50px;
}
article a {
  padding-bottom: 50px;
}

.error404 .not-found {
  min-height: 80vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  place-content: center;
  padding-bottom: 120px;
}
@media screen and (min-width: 768px) {
  .error404 .not-found .entry-title {
    font-size: 200px;
  }
}
.error404 .not-found .home-btn {
  color: var(--black);
  background: var(--white);
  padding: 15px;
}
.error404 .not-found .entry-content p {
  padding-bottom: 25px;
}

.home-btn,
.button-div .button {
  padding: 15px 20px;
  margin-top: 50px;
  border-radius: 30px;
}

.banner {
  background: var(--blue);
  color: var(--white);
  font-size: 16px;
}

.logo-div img {
  max-width: 100%;
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
}

.banner a {
  color: var(--white);
}

.banner-slider .banner p {
  margin: 0;
  padding: 0 30px;
}

.btn {
  background: var(--blue);
  color: var(--white);
  border: 3px solid #86b2ed;
  padding: 13px 25px;
  border-radius: 30px;
  font-weight: 700;
  transition: 0.6s;
}
.btn:hover {
  transform: scale(1.02);
  color: var(--white);
}

.btn-alt {
  padding: 10px 40px;
  border: 1px solid #c1c1c1;
  color: var(--black);
  background: unset;
}
.btn-alt:hover {
  color: var(--black);
}

.wp-block-columns {
  max-width: 1200px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.woocommerce-breadcrumb {
  max-width: 1200px;
  margin: 0 auto !important;
  padding: 0 25px !important;
}

#sidebar {
  display: none;
}

.breadcrumbs ul {
  list-style: none;
  max-width: 1200px;
  margin: 0 auto !important;
  padding: 0 25px !important;
  display: flex;
}

.woocommerce-ordering select {
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
}

.woocommerce-loop-product__title, .woocommerce-Price-amount {
  color: var(--black);
}

.product .button {
  background: var(--blue) !important;
  color: var(--white) !important;
  border: 3px solid #86b2ed !important;
  padding: 13px 25px !important;
  border-radius: 30px !important;
  font-weight: 700 !important;
  transition: 0.6s !important;
}
.product .button:hover {
  transform: scale(1.02);
  color: var(--white);
}

.woocommerce .cta-div {
  padding: 100px 0;
}
.woocommerce .related.products {
  padding-top: 100px;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.woocommerce-account h1 {
  display: none;
}
.woocommerce-account .woocommerce h2 {
  text-align: center;
  padding: 100px 0;
}
.woocommerce-account form {
  border: none !important;
}
.woocommerce-account .woocommerce-form {
  width: 70%;
  margin: 0 auto !important;
}
.woocommerce-account .woocommerce-form input {
  padding: 10px;
  border-radius: 9px;
  border-color: #99A2A5;
  border: 1px solid #99A2A5;
}

.woocommerce-page .button {
  background: var(--blue);
  color: var(--white);
  border: 3px solid #86b2ed !important;
  padding: 13px 25px !important;
  border-radius: 30px !important;
  font-weight: 700 !important;
  transition: 0.6s !important;
}
.woocommerce-page .button:hover {
  transform: scale(1.02);
  color: var(--white);
}

.woocommerce-cart-form .product-thumbnail img {
  width: 130px;
}

.product-thumbnail {
  display: block !important;
}
.product-thumbnail img {
  width: 80px !important;
}
.product-thumbnail:before {
  display: none;
}

.woof_list li div {
  border-radius: 3px;
  background: var(--white);
  border: 1px solid var(--black);
}
.woof_list li .checked {
  background: var(--blue);
}
.woof_list li .checked:after {
  font-family: "FontAwesome";
  content: "\f00c";
  font-weight: normal;
  float: right;
  color: var(--white);
  font-size: 12px;
  position: relative;
  right: 4px;
  top: 1px;
}

.woof_products_top_panel_ul ul {
  display: none;
}

.woof_reset_button_2 {
  border: none;
  background: unset;
  text-decoration: underline;
  color: #C4C4C4;
  font-size: 12px;
}

.woocommerce-MyAccount-navigation ul {
  list-style: none;
  border: 1px solid #E2E2E2;
  padding: 0 30px;
}
.woocommerce-MyAccount-navigation li {
  padding: 13px 0;
  border-bottom: 1px solid #E2E2E2;
}
.woocommerce-MyAccount-navigation li a {
  color: var(--black);
}
.woocommerce-MyAccount-navigation li:last-child {
  border-bottom: unset;
}
.woocommerce-MyAccount-navigation .is-active a {
  color: var(--blue);
  font-family: "Poppins-semiBold", cursive;
}
.woocommerce-MyAccount-navigation .is-active a:before {
  font-family: "FontAwesome";
  content: "\f061";
  float: right;
  color: var(--blue);
  font-size: 14px;
}

.woocommerce-error, .woocommerce-info, .woocommerce-message {
  background-color: #ffffff;
}

.woocommerce-account h1 {
  display: block !important;
  text-align: center;
  margin-top: 30px;
  text-transform: capitalize;
}
.woocommerce-account h1:before {
  display: none;
}

.woocommerce-info {
  border-top-color: var(--blue);
}
.woocommerce-info:before {
  font-family: "FontAwesome";
  content: "\f00c";
  font-weight: normal;
  background-color: var(--blue);
  color: var(--white);
  padding: 2px 5px;
  border-radius: 50%;
  font-size: 10px;
  top: 18px;
  margin-left: 10px;
}

.woocommerce-Button {
  background: var(--white) !important;
  border: 2px solid var(--blue) !important;
  color: var(--blue) !important;
}

#header {
  display: flex;
  padding: 10px 0 15px 0;
  background: var(--white);
}
#header a {
  color: var(--black);
}
#header .contact-info .email {
  padding-left: 30px;
}
#header .email img, #header .phone img {
  margin-right: 10px;
}
#header .search input {
  background: none;
  border: none;
}
#header .search form {
  padding: 8px 15px;
  background: var(--dark-grey);
  border-radius: 12px;
}
#header .search ::-moz-placeholder {
  color: #99a2a5;
  font-size: 14px;
}
#header .search ::placeholder {
  color: #99a2a5;
  font-size: 14px;
}
#header .container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
#header .container .menu {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-bottom: 0;
  position: relative;
  z-index: 2;
}
#header .container .menu a {
  padding-right: 30px;
}
#header .container nav {
  display: flex;
  align-self: center;
}
#header .container nav a {
  color: var(--black);
}
#header .menu {
  display: flex;
}
#header .menu li {
  list-style: none;
  display: flex;
}
@media screen and (min-width: 768px) {
  #header .menu li {
    align-self: center;
  }
}
#header .menu .sub-menu {
  display: none;
}
#header .menu .menu-item {
  position: relative;
}
#header .menu .menu-item .sub-menu {
  position: absolute;
  z-index: -1;
  width: 160px;
  margin: 0;
  padding-left: 0;
  background: var(--white);
  padding-top: 30px;
}
#header .menu .menu-item:hover > .sub-menu {
  display: block;
  position: absolute;
}
#header .menu .menu-item:hover > .sub-menu a {
  color: var(--black);
  padding: 5px;
}
#header .main-menu {
  width: 100%;
}
#header .main-menu ul {
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  #header .main-menu ul {
    flex-direction: row;
  }
}
#header body {
  background-color: black;
}
#header .hamburger-menu {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  height: 1.7rem;
  width: 1.7rem;
  cursor: pointer;
}
#header .bar-top,
#header .bar-middle,
#header .bar-bottom {
  height: 3px;
  background: #0f65da;
  border-radius: 5px;
  margin: 3px 0;
  transform-origin: left;
  transition: all 0.5s;
}
#header .hamburger-menu.active .bar-top {
  transform: rotate(45deg);
}
#header .hamburger-menu.active .bar-middle {
  transform: translateX(1rem);
  opacity: 0;
}
#header .hamburger-menu.active .bar-bottom {
  transform: rotate(-45deg);
}
#header .mob-header {
  position: absolute;
  background: white;
  left: 0;
  padding-top: 50px;
  top: 0;
  height: 100vh;
  z-index: 10;
}
#header .mob-header li {
  font-size: 32px;
}
@media screen and (min-width: 768px) {
  #header .mob-header {
    position: unset;
    padding-top: 0px;
  }
  #header .mob-header li {
    font-size: inherit;
  }
}
#header .content, #header .header-logo {
  position: relative;
  z-index: 19999;
}
@media screen and (max-width: 460px) {
  #header .header-logo {
    max-width: 160px !important;
  }
}
#header .mob-account-details {
  display: flex;
}
#header .current-menu-item {
  font-weight: 700;
}
#header .banner {
  z-index: 19999;
}

#footer {
  background: var(--grey);
  color: #121212;
  padding: 40px 0;
  margin-top: 150px;
}
#footer a {
  color: var(--black);
}
#footer .container {
  justify-content: center;
}
#footer ul {
  padding: 0;
}
#footer ul li {
  list-style: none;
  font-weight: 400;
  margin-bottom: 5px;
}
#footer .newsletter {
  background: var(--white);
  border-radius: 16px;
  padding: 32px 32px 0 32px;
  position: relative;
}
#footer .newsletter h2 {
  font-weight: 900;
  font-size: 24px;
}
@media screen and (min-width: 768px) {
  #footer .newsletter form {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
  }
}
#footer .newsletter .wpcf7-submit {
  background: var(--blue);
  color: var(--white);
  border: 3px solid #86b2ed;
  padding: 13px 25px;
  border-radius: 30px;
  margin-left: 20px;
  font-weight: 700;
  transition: 0.6s;
}
#footer .newsletter .wpcf7-submit:hover {
  transform: scale(1.02);
}
#footer .newsletter input {
  padding: 12px 25px;
  border-radius: 5px;
  border: 1px solid #99A2A5;
}
#footer .newsletter ::-moz-placeholder {
  font-size: 14px;
}
#footer .newsletter ::placeholder {
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  #footer .newsletter .input {
    width: 60%;
  }
}
#footer .newsletter .input input {
  width: 100%;
}
#footer .newsletter .submit {
  width: 28%;
}
#footer .copyright {
  border-top: 1px solid #bebebe;
  font-size: 14px;
}
#footer .copyright .menu {
  display: flex;
}
#footer .copyright li {
  padding-right: 20px;
  text-decoration: underline;
}
#footer .social-icons img {
  -o-object-fit: contain;
     object-fit: contain;
}
#footer .wpcf7-response-output {
  margin: 0;
  position: absolute;
  bottom: 10px;
  font-size: 14px;
}

@font-face {
  font-family: Poppins-Regular;
  src: url("fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: Poppins-SemiBold;
  src: url("fonts/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: Poppins-Bold;
  src: url("fonts/Poppins-Bold.ttf");
}
a {
  text-decoration: none;
}

h1,
h2 {
  font-family: "Poppins-Bold", cursive;
}

.wpcf7-submit, strong {
  font-family: "Poppins-SemiBold", cursive;
}

::-moz-placeholder {
  font-family: "Poppins-Regular", cursive;
}

p,
::placeholder,
li,
a,
label,
div {
  font-family: "Poppins-Regular", cursive;
}

h1 {
  font-size: 36px;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 48px;
    line-height: 57px;
    margin-bottom: 40px;
    letter-spacing: 1.3px;
  }
}

h1:not(.home h1) {
  font-size: 32px;
}
h1:not(.home h1):before {
  background-color: var(--blue);
  padding: 0 4px;
  content: " ";
  margin-right: 20px;
  border-radius: 20px;
}

.single-post .single-img {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.single-post .single-img img {
  width: 60%;
  max-height: 400px;
  border-radius: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}
.single-post .nav-label {
  display: block;
  text-transform: uppercase;
  color: #8F8F8F;
}
.single-post .post-navigation a {
  width: 60%;
  display: block;
  color: var(--black);
}
.single-post .previous-post .nav-label {
  display: flex;
}
.single-post .previous-post .nav-label:before {
  font-family: "FontAwesome";
  content: "\f060";
  font-weight: normal;
  color: var(--blue);
  font-size: 25px;
  position: relative;
  bottom: 10px;
  right: 130px;
}
.single-post .previous-post a {
  float: right;
}
.single-post .next-post .nav-label:after {
  font-family: "FontAwesome";
  content: "\f061";
  font-weight: normal;
  float: right;
  color: var(--blue);
  font-size: 25px;
  position: relative;
  left: 40px;
}
.single-post .post-navigation {
  padding-top: 150px;
}

#hero-slider .container {
  flex-direction: column;
  height: 100%;
  display: flex;
  justify-content: center;
}
#hero-slider .container .hero-title {
  color: var(--white);
  padding-bottom: 50px;
}
#hero-slider .container .button-div .button {
  background: var(--white);
  color: var(--black);
}
#hero-slider .home-hero-img {
  background-size: contain;
  background-image: url(http://localhost:8888/wp-content/uploads/2022/10/hero.jpg);
  height: 600px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
#hero-slider .slick-dots {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1rem 0;
  position: absolute;
  width: 100%;
  bottom: 10px;
  list-style-type: none;
}
#hero-slider .slick-dots li {
  margin: 0 0.25rem;
}
#hero-slider .slick-dots button {
  display: block;
  width: 1rem;
  height: 1rem;
  padding: 0;
  border: none;
  border-radius: 100%;
  background-color: var(--black);
  opacity: 0.6;
  text-indent: -9999px;
}
#hero-slider .slick-dots li.slick-active button {
  background-color: var(--black);
  opacity: 1;
}

#half-block .container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  #half-block .container {
    flex-direction: row;
  }
}
#half-block .container .wpcf7-text {
  height: 50px;
  margin: 10px 0;
  padding: 0 20px;
  border-radius: 30px;
  width: 100%;
}
#half-block .container .wpcf7-submit {
  background: var(--black);
  color: var(--white);
  border: none;
  border-radius: 40px;
  padding: 13px 50px;
}
#half-block .container .wpcf7-not-valid-tip {
  position: absolute;
  bottom: -38px;
  font-size: 14px;
}
#half-block .container form {
  margin-top: 50px;
  position: relative;
  z-index: 1;
}
#half-block .container .lottie {
  animation-name: floating;
  animation-duration: 9s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}
#half-block .container .lottie img {
  position: absolute;
  bottom: 50px;
}
@media screen and (min-width: 768px) {
  #half-block .container .lottie img {
    position: unset;
    min-width: 600px;
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
  }
}
@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(-20px, 80px);
  }
  to {
    transform: translate(0, 0px);
  }
}

#slider .slider {
  height: 100%;
  min-height: 700px;
  background-size: cover;
}
#slider .content {
  margin-top: 100px;
}

.page-template-contact .contact-info a {
  color: var(--black);
}
.page-template-contact form label {
  width: 100%;
}
.page-template-contact form label span {
  display: grid;
}
.page-template-contact form input {
  border: 1px solid #99A2A5;
  border-radius: 4px;
  padding: 5px;
  margin-top: 5px;
}
.page-template-contact form textarea {
  border: 1px solid #99A2A5;
  border-radius: 4px;
  padding: 5px;
  margin-top: 5px;
}
.page-template-contact .wpcf7-submit {
  background: var(--blue);
  color: var(--white);
  border: 3px solid #86b2ed;
  padding: 7px 35px;
  border-radius: 30px;
  font-weight: 700;
  transition: 0.6s;
}
.page-template-contact .wpcf7-submit:hover {
  transform: scale(1.02);
  color: var(--white);
}
.page-template-contact .wpcf7-list-item {
  margin: 0 8px 0 0;
}
.page-template-contact .acceptance {
  display: flex;
  font-size: 13px;
  align-items: center;
}

@media screen and (min-width: 768px) {
  #three-column-section .divider {
    border-left: 1px solid #2C3258;
    border-right: 1px solid #2C3258;
  }
}

#cta-section {
  background-image: url(images/mask.png);
  background-color: var(--blue);
  color: var(--white);
  background-repeat: no-repeat;
  background-size: auto 100%;
}
#cta-section .btn {
  background: var(--white);
  color: var(--black);
}

#category-template .category-image {
  border-radius: 10px;
  width: 100%;
  max-height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}
#category-template .category-name {
  font-size: 14px;
  font-family: "Poppins-Bold", cursive;
}
@media screen and (min-width: 768px) {
  #category-template .category-name {
    font-size: 20px;
  }
}
#category-template .arrow {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 15px;
}
@media screen and (min-width: 768px) {
  #category-template .arrow {
    max-width: unset;
  }
}
#category-template .btn-alt {
  font-family: "Poppins-SemiBold", cursive;
}
#category-template a {
  color: var(--black);
}

#accordion .acc-container {
  width: 100%;
  margin: auto;
}
#accordion .acc-container .acc-body {
  width: 98%;
  width: calc(100% - 20px);
  margin: 0 auto;
  height: 0;
  color: rgba(0, 0, 0, 0);
  background-color: rgba(255, 255, 255, 0.2);
  line-height: 28px;
  padding: 0 20px;
  box-sizing: border-box;
  transition: 0.5s;
  border-top: 1px solid var(--black);
}
#accordion .acc-container label {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  display: block;
  padding: 15px;
  width: 100%;
  color: var(--black);
  font-weight: 400;
  box-sizing: border-box;
  z-index: 100;
  font-size: 18px;
}
#accordion .acc-container input {
  display: none;
}
#accordion .acc-container label:before {
  font-family: "FontAwesome";
  content: "\f067";
  font-weight: normal;
  float: right;
  background-color: var(--blue);
  color: var(--white);
  padding: 3px 7px;
  border-radius: 50%;
  font-size: 12px;
  position: relative;
  top: 7px;
}
#accordion .acc-container input:checked + label {
  background-color: rgba(255, 255, 255, 0.15);
}
#accordion .acc-container input:checked + label:before {
  font-family: "FontAwesome";
  content: "\f00d";
  transition: 0.5s;
}
#accordion .acc-container input:checked ~ .acc-body {
  height: auto;
  color: var(--black);
  font-size: 16px;
  padding: 20px;
  transition: 0.5s;
}

#shop-banner {
  padding: 60px 0;
}
#shop-banner .row {
  background: var(--blue);
  color: var(--white);
  border-radius: 20px;
}
#shop-banner h2 {
  font-size: 36px;
  text-align: center;
  font-family: "Poppins-SemiBold", cursive;
}
@media screen and (min-width: 768px) {
  #shop-banner h2 {
    font-size: 45px;
    text-align: left;
  }
}
#shop-banner img {
  bottom: 20px;
  position: relative;
  scale: 1.1;
}
#shop-banner .btn {
  background: var(--white);
  color: var(--blue);
  padding: 10px 40px;
}
#shop-banner .text {
  -moz-text-align-last: center;
       text-align-last: center;
}
@media screen and (min-width: 768px) {
  #shop-banner .text {
    -moz-text-align-last: left;
         text-align-last: left;
  }
}

#blogs .blog__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
#blogs .article__heading {
  padding: 30px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.35);
  border-radius: 0 0 10px 10px;
  margin-bottom: 50px;
  font-size: 26px;
}
#blogs h3 a {
  color: var(--black);
  font-family: "Poppins-SemiBold", cursive;
}
#blogs .article__heading p {
  font-size: 16px;
}
#blogs .article__img img {
  max-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0 0;
}
#blogs .read-btn {
  text-align: end;
  font-size: 16px;
  color: var(--blue);
  font-family: "Poppins-SemiBold", cursive;
}
#blogs .read-btn:before {
  font-family: "FontAwesome";
  content: "\f061";
  font-weight: normal;
  float: right;
  background-color: var(--blue);
  color: var(--white);
  padding: 2px 5px;
  border-radius: 50%;
  font-size: 10px;
  position: relative;
  top: 3px;
  margin-left: 10px;
}
#blogs .page-numbers {
  padding: 0 8px;
  color: var(--black);
  font-family: "Poppins-SemiBold", cursive;
}
#blogs .current {
  margin: 0;
  background: var(--blue);
  border-radius: 70px;
  padding: 0 8px;
  color: white;
}

#product-slider {
  overflow: hidden;
}
#product-slider .slick-track.slick-track-less-than-slidesToShow {
  margin-left: 0;
}
#product-slider .product-slider .slick-dots {
  list-style: none;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 25px;
  padding-bottom: 150px !important;
  margin-top: 85px;
}
@media screen and (min-width: 768px) {
  #product-slider .product-slider .slick-dots {
    margin-top: 25px;
  }
}
#product-slider .product-slider .slick-dots button {
  outline: none;
  border: none;
  height: 4px;
  width: 40px;
  margin-right: 5px;
}
#product-slider .product-slider .slick-dots .slick-active button {
  width: 100px;
  background: #0D66DB;
  height: 6px;
}
#product-slider .product-slider .slick-dots li button {
  text-indent: -9999px;
}
#product-slider .content {
  position: absolute;
  bottom: -50px;
  right: 0;
  background: var(--white);
  padding: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
  max-width: 50%;
  right: 10%;
  display: flex;
  justify-content: space-between;
}
#product-slider .slider .container {
  position: relative;
}
#product-slider .slick-list {
  overflow: initial;
}
#product-slider .slide-img {
  padding-top: unset;
}
@media screen and (min-width: 460px) {
  #product-slider .slide-img {
    max-height: 500px;
  }
}
#product-slider .slick-current {
  scale: unset;
  right: 0;
}
#product-slider .slick-current .slide-img {
  max-height: 600px;
}
@media screen and (max-width: 460px) {
  #product-slider .slide-img {
    max-height: 300px;
    margin: 0 auto;
    width: 40%;
  }
}
#product-slider .branding {
  -o-object-fit: contain;
     object-fit: contain;
}
#product-slider .title h2 {
  font-size: 40px;
}
@media screen and (min-width: 768px) {
  #product-slider .title h2 {
    font-size: 60px;
  }
}
#product-slider .info {
  font-size: 18px;
}

#best-products {
  padding: 0 0 70px;
}
#best-products .clr-gry.slick-arrow {
  top: 0;
  position: absolute;
}
#best-products .fa-angle-left.clr-gry {
  right: 10px;
}
#best-products .fa-angle-right.clr-gry {
  right: 0;
}
#best-products h2 {
  font-size: 38px;
}
@media screen and (min-width: 768px) {
  #best-products h2 {
    font-size: 54px;
  }
}
#best-products h3 {
  font-size: 20px;
  color: var(--black);
}
#best-products .product {
  padding: 0 15px;
}
#best-products .product img {
  width: 100%;
  min-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
#best-products .btn {
  padding: 5px 10px;
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  #best-products .btn {
    padding: 5px 20px;
    font-size: inherit;
  }
}
#best-products ul {
  list-style: none;
}
#best-products .slick-arrow {
  padding: 12px;
  background: var(--blue);
  color: var(--white);
  border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
}
#best-products .slick-arrow:before {
  font-size: 26px;
}

#about .mask {
  color: var(--white);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 200px 0;
  overflow: visible;
  z-index: 1;
  background-image: url(images/mask-2.jpg);
  min-height: 950px;
}
@media screen and (min-width: 768px) {
  #about .mask {
    min-height: 550px;
  }
}
@media screen and (min-width: 1300px) {
  #about .mask {
    min-width: 550px;
  }
}
#about .mask h2 {
  font-size: 30px;
}
@media screen and (min-width: 768px) {
  #about .mask h2 {
    font-size: 42px;
  }
}
#about .content {
  position: relative;
  z-index: 121;
  bottom: 100px;
}
@media screen and (min-width: 1300px) {
  #about .content {
    bottom: 200px;
  }
}
#about .content .story {
  background-color: var(--white);
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
  padding: 20px;
}
#about .content p {
  line-height: 1.8;
}
#about .divider {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: var(--white);
  z-index: -1;
  transform-origin: left top;
  transform: skewY(-5deg);
  top: 950px;
}
@media screen and (min-width: 768px) {
  #about .divider {
    top: 500px;
  }
}
#about .usp {
  position: relative;
  bottom: 100px;
}
#about .usp p {
  font-size: 20px;
  padding: 10px;
  line-height: 1.2;
  font-family: "Poppins-semiBold", cursive;
}
@media screen and (min-width: 768px) {
  #about .usp {
    position: unset;
  }
}/*# sourceMappingURL=style.css.map */