// Theme colours
:root {
  --black: #121212;
  --white: #ffffff;
  --grey: #f5f5f5;
  --dark-grey: #f8f8f8;
  --blue: #0D66DB;
}

body {
  margin: 0;
  background: var(--white);
  color: var(--black);
  overflow-x: hidden;
}

*:focus {
  outline:none
}

.overflow {
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 25px;
}

article {
  margin-top: 50px;
  a {
    padding-bottom: 50px;
  }
}

// 404 Page
.error404 {
  .not-found {
    min-height: 80vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    place-content: center;
    padding-bottom: 120px;
    .entry-title {
      @media screen and (min-width: 768px) {
        font-size: 200px;
      }
    }
    .home-btn {
      color: var(--black);
      background: var(--white);
      padding: 15px;
    }
    .entry-content p {
      padding-bottom: 25px;
    }
  }
}

// Button
.home-btn,
.button-div .button {
  padding: 15px 20px;
  margin-top: 50px;
  border-radius: 30px;
}

.banner {
  background: var(--blue);
  color: var(--white);
  font-size: 16px;
}

.logo-div {
  img {
    max-width: 100%;
    display: block;
    object-fit: contain;
  }
}

.banner a {
  color: var(--white);
}

.btn {
  background: var(--blue);
  color: var(--white);
  border: 3px solid #86b2ed;
  padding: 13px 25px;
  border-radius: 30px;
  font-weight: 700;
  transition: 0.6s;
  &:hover {
    transform: scale(1.02);
    color: var(--white);
  }
}

.btn-alt {
  padding: 10px 40px;
  border: 1px solid #c1c1c1;
  color: var(--black);
  background: unset;
  &:hover {
    color: var(--black);
  }
}

.wp-block-columns {
  max-width: 1200px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.woocommerce-breadcrumb {
  max-width: 1200px;
  margin: 0 auto !important;
  padding: 0 25px !important;
}

#sidebar {
  display: none;
}

.breadcrumbs ul {
  list-style: none;
  max-width: 1200px;
  margin: 0 auto !important;
  padding: 0 25px !important;
  display: flex;
}

.woocommerce-ordering select {
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
}

.woocommerce-loop-product__title, .woocommerce-Price-amount {
  color: var(--black);
}

.product .button {
  background: var(--blue) !important;
  color: var(--white) !important;
  border: 3px solid #86b2ed !important;
  padding: 13px 25px !important;
  border-radius: 30px !important;
  font-weight: 700 !important;
  transition: 0.6s !important;
  &:hover {
    transform: scale(1.02);
    color: var(--white);
  }
}


.woocommerce {
  .cta-div {
    padding: 100px 0;
  }
  .related.products {
    padding-top: 100px;
    display: flex;
    width: 100%;
    flex-direction: column;
  }
}

.woocommerce-account {
  h1 {
    display: none;
  }
  .woocommerce h2 {
    text-align: center;
    padding: 100px 0;
  }
  form {
    border: none !important;
  }
  .woocommerce-form {
    width: 70%;
    margin: 0 auto !important;

    input {
      padding: 10px;
      border-radius: 9px;
      border-color: #99A2A5;
      border: 1px solid #99A2A5;
    }
  }
}

.woocommerce-page {
  .button {
    background: var(--blue) !important;
    color: var(--white) !important;
    border: 3px solid #86b2ed !important;
    padding: 13px 25px !important;
    border-radius: 30px !important;
    font-weight: 700 !important;
    transition: 0.6s!important;
    &:hover {
      transform: scale(1.02);
      color: var(--white);
    }
  }
}

.woocommerce-cart-form {
  .product-thumbnail img {
    width: 130px;
  }
}

.product-thumbnail {
  display: block !important;
  img {
    width: 80px !important;
  }
  &:before {
    display: none;
  }
}