// Theme colours
:root {
  --black: #121212;
  --white: #ffffff;
  --grey: #f5f5f5;
  --dark-grey: #f8f8f8;
  --blue: #0D66DB;
}

body {
  margin: 0;
  background: var(--white);
  color: var(--black);
  overflow-x: hidden;
}

*:focus {
  outline:none
}

.overflow {
  overflow: hidden;
}

textarea {
  resize: none;
}

.search-field {
  width: 100%;
}

.container, .inner-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 25px;
}

article {
  margin-top: 50px;
  a {
    padding-bottom: 50px;
  }
}

// 404 Page
.error404 {
  article {
    padding: 30px;
    @media screen and (min-width: 768px) {
      padding: 100px;
    }
  }
  h1 {
    color: rgba(13,102,219, 0.3);
    &::before {
      display: none;
    }
  }
  h2 {
    margin-top: 30px;
    font-size: 50px;
  }
  .not-found {
    min-height: 80vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    place-content: center;
    padding-bottom: 120px;
    .entry-title {
      font-size: 130px !important;
      @media screen and (min-width: 768px) {
        font-size: 200px !important;
      }
    }
    .btn {
      font-family: "Poppins-Bold", cursive;
    }
    .entry-content p {
      padding-bottom: 25px;
      max-width: 600px;
      margin: 0 auto;
      padding-top: 20px;
      font-size: 16px;
    }
  }
  .title {
    position: relative;
    display: inline;
    h1 {
      display: inline;
    }
    img {
      position: absolute;
      bottom: 0px;
      right: -20px;
    }
  }
}

// Button
.home-btn,
.button-div .button {
  padding: 15px 20px;
  margin-top: 50px;
  border-radius: 30px;
}

.banner {
  background: var(--blue);
  color: var(--white);
  font-size: 16px;
}

.logo-div {
  text-align: -webkit-center;
  @media screen and (min-width: 768px) {
    text-align: left;
  }
  img {
    max-width: 100%;
    display: block;
    object-fit: contain;
  }
}

.banner a {
  color: var(--white);
}

.banner-slider {
  .banner p {
    margin: 0;  
    padding: 0 30px;
  }
}

.btn {
  background: var(--blue);
  color: var(--white);
  border: 3px solid #86b2ed;
  padding: 10px 25px;
  border-radius: 30px;
  font-weight: 700;
  transition: 0.6s;
  &:hover {
    transform: scale(1.02);
    color: var(--white);
  }
}

.checkout-button {
  background: var(--blue) !important;
  color: var(--white) !important;
  border: 3px solid #86b2ed;
  padding: 10px 25px;
  border-radius: 30px;
  font-weight: 700;
  transition: 0.6s;
  &:hover {
    transform: scale(1.02);
    color: var(--white);
  }
}

.btn-alt {
  padding: 10px 40px;
  border: 1px solid #c1c1c1;
  color: var(--black);
  background: unset;
  &:hover {
    color: var(--black);
  }
}

.wp-block-columns {
  max-width: 1200px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.woocommerce-breadcrumb {
  max-width: 1200px;
  margin: 0 auto !important;
  padding: 10px 25px !important;
}

#sidebar {
  display: none;
}

.breadcrumbs ul {
  list-style: none;
  max-width: 1200px;
  margin: 0 auto !important;
  padding: 0 25px !important;
  display: flex;
}

.woocommerce-ordering select {
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
}

.woocommerce-loop-product__title, .woocommerce-Price-amount {
  color: var(--black);
}

.product .button {
  background: var(--blue) !important;
  color: var(--white) !important;
  border: 3px solid #86b2ed !important;
  padding: 10px 25px !important;
  border-radius: 30px !important;
  font-weight: 700 !important;
  transition: 0.6s !important;
  &:hover {
    transform: scale(1.02);
    color: var(--white);
  }
}


.woocommerce {
  .cta-div {
    padding: 100px 0;
  }
  .related.products {
    padding-top: 100px;
    display: flex;
    width: 100%;
    flex-direction: column;
  }
}

.woocommerce-account {
  h1 {
    display: none;
  }
  .woocommerce h2 {
    text-align: center;
    padding: 100px 0;
  }
  form {
    border: none !important;
  }
  .woocommerce-form {
    width: 70%;
    margin: 0 auto !important;

    input {
      padding: 10px;
      border-radius: 9px;
      border-color: #99A2A5;
      border: 1px solid #99A2A5;
    }
  }
}

.woocommerce-page {
  .button {
    background: var(--blue);
    color: var(--white);
    border: 3px solid #86b2ed !important;
    padding: 10px 25px !important;
    border-radius: 30px !important;
    font-weight: 700 !important;
    transition: 0.6s!important;
    &:hover {
      transform: scale(1.02);
      color: var(--white);
    }
  }
}

.woocommerce-cart-form {
  .product-thumbnail img {
    width: 130px;
  }
}

.product-thumbnail {
  display: block !important;
  img {
    width: 80px !important;
  }
  &:before {
    display: none;
  }
}

.woof_list {
  li div {
    border-radius: 3px;
    background: var(--white);
    border: 1px solid var(--black);
  }
  li .checked {
    background: var(--blue);
    &:after {
      font-family: "FontAwesome";
      content: "\f00c";
      font-weight: normal;
      float: right;
      color: var(--white);
      font-size: 12px;
      position: relative;
      right: 4px;
      top: 1px;
    }
  }
}

.woof_products_top_panel_ul ul {
    display: none;
}
.woof_reset_button_2 {
  border: none;
  background: unset;
  text-decoration: underline;
  color: #C4C4C4;
  font-size: 12px;
}

.woocommerce-MyAccount-navigation {
  ul {
    list-style: none;
    border: 1px solid #E2E2E2;
    padding: 0 30px;
  }
  li {
    padding: 13px 0;
    border-bottom: 1px solid #E2E2E2;
    a {
      color: var(--black);
    }
    &:last-child {
      border-bottom: unset;
    }
  }
  .is-active a {
    color: var(--blue);
    font-family: "Poppins-semiBold", cursive;
    &:before {
      font-family: 'FontAwesome';
      content: '\f061';
      float: right;
      color: var(--blue);
      font-size: 14px;
    }
  }
}

.woocommerce-error, .woocommerce-info, .woocommerce-message {
  background-color: #ffffff;
}

.woocommerce-account {
  h1 {
    display: block !important;
    text-align: center;
    margin-top: 30px;
    text-transform: capitalize;
    &:before {
      display: none;
    }
  }
}

.single-product h1 {
  &:before {
    display: none;
  }
}

.woocommerce-info {
  border-top-color: var(--blue);
  &:before {
    font-family: "FontAwesome";
    content: "\f00c";
    font-weight: normal;
    background-color: var(--blue);
    color: var(--white);
    padding: 2px 5px;
    border-radius: 50%;
    font-size: 10px;
    top: 18px;
    margin-left: 10px;
  }
}

.woocommerce-Button {
  background: var(--white) !important;
  border: 2px solid var(--blue) !important;
  color: var(--blue) !important;
}

.woocommerce .quantity .qty {
  text-align: center;
  border-radius: 7px;
  border: 1.3px solid #99A2A5;
  height: 35px;
}

.woocommerce-cart-form a {
  color: var(--black);
}

.woocommerce a.remove {
  color: #939393 !important;
  &:hover {
    color: var(--white);
    background-color: #939393 !important;
  }
}

.product-thumbnail {
  text-align-last: center;
}
.cart_totals  {
  width: 100% !important;
}

select { 
  appearance: none;
  background-image: url("images/toggle.png");
  background-repeat: no-repeat;
  background-position: right 0.7rem top 50%;
  background-size: 0.65rem auto;
}

.variations tbody, .variations tr {
  display: flex;
  flex-direction: column;
}

.variations select {
  padding: 3px 10px;
  border-radius: 5px;
  width: 100%;
}

hr {
  max-width: 50px;
  margin: 100px auto;
  height: 12px !important;
  color: var(--blue);
  opacity: 1;
}

.related.products h2:first-child {
  text-align: center;
  padding-bottom: 90px;
}

.woocommerce-tabs.wc-tabs-wrapper {
  display: none;
}

.woocommerce-variation-add-to-cart {
  display: flex;
  flex-direction: column;
  .quantity {
    padding-bottom: 20px;
  }
  .button {
    max-width: 200px;
  }
}

.woocommerce-billing-fields input {
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid #99A2A5;
}

.single_buy_now_button {
  width: 170px;
  background-color: unset !important;
  border: 1px solid #C1C1C1C1 !important;
  color: #000000 !important;
}

.wp-block-group  {
  justify-content: center;
}

.form-row.place-order .button {
  background-color: var(--blue) !important;
  color: var(--white) !important;
  border: 3px solid #86b2ed;
  padding: 10px 25px;
  border-radius: 30px;
  font-weight: 700;
  transition: 0.6s;
  &:hover {
    transform: scale(1.02);
    color: var(--white);
  }
}

.woocommerce-checkout-payment {
  background: none !important;
  p {
    font-size: 14px;
  }
  a {
    text-decoration: underline;
    color: var(--black);
  }
}

.woocommerce {
  .payment-methods {
    text-align: center;
    color: red;
    &:nth-child(2) {
      display: none !important;
    }
  }
  .payment-methods:nth-child(2) {
    display: none !important;
  }
}