// Theme colours
:root {
  --black: #121212;
  --white: #ffffff;
  --grey: #f5f5f5;
  --dark-grey: #f8f8f8;
  ---blue: #0D66DB;
}

body {
  margin: 0;
  background: var(--white);
  color: var(--black);
}

*:focus {
  outline:none
}

.overflow {
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 25px;
}

article {
  margin-top: 50px;
  a {
    padding-bottom: 50px;
  }
}

#content {
  min-height: 80vh;
}

// 404 Page
.error404 {
  .not-found {
    min-height: 80vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    place-content: center;
    padding-bottom: 120px;
    .entry-title {
      @media screen and (min-width: 768px) {
        font-size: 200px;
      }
    }
    .home-btn {
      color: var(--black);
      background: var(--white);
      padding: 15px;
    }
    .entry-content p {
      padding-bottom: 25px;
    }
  }
}

// Button
.home-btn,
.button-div .button {
  padding: 15px 20px;
  margin-top: 50px;
  border-radius: 30px;
}

.banner {
  background: var(---blue);
  color: var(--white);
  font-size: 16px;
}

.btn {
  background: var(---blue);
  color: var(--white);
  border: 2px solid #0D66DB;
}

.logo-div {
  img {
    max-width: 100%;
    display: block;
    object-fit: contain;
  }
}

.banner a {
  color: var(--white);
}

.btn {
  background: var(---blue);
  color: var(--white);
  border: 3px solid #86b2ed;
  padding: 13px 25px;
  border-radius: 30px;
  font-weight: 700;
  transition: 0.6s;
  &:hover {
    transform: scale(1.02);
    color: #ffffff;
  }
}



