#header {
  display: flex;
  padding: 10px 0 15px 0;
  background: var(--white);
  border-bottom: 1px solid #E0E0E0;

  a {
    color: var(--black);
  }

  .contact-info {
    .email {
      padding-left: 30px;
    }
  }
  

  .email img, .phone img {
    margin-right: 10px;
  }

  .search {
    display: flex;
    input {
      background: none;
      border: none;
    }
    form {
      padding: 8px 15px;
      background: var(--dark-grey);
      border-radius: 12px;
    }
    ::placeholder { 
      color: #99a2a5;
      font-size: 12px; 
    }
    img {
      object-fit: contain;
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

    .menu {
      display: flex;
      list-style: none;
      justify-content: center;
      margin-bottom: 0;
      position: relative;
      z-index: 2;
      a {
        padding-right: 30px;
      }
    }
    nav {
      display: flex;
      align-self: center;
      a {
        color: var(--black);
      }
    }
  }
  .menu {
    display: flex;
    li {
      list-style: none;
      display: flex;
      @media screen and (min-width: 768px) {
        align-self: center;
      }
    }
    .sub-menu {
      display: none;
    }
    .menu-item {
      position: relative;
      display: flex;
      flex-direction: column;
      .sub-menu {
        width: 160px;
        margin: 0;
        padding-left: 0;
        background: var(--white);
        @media screen and (min-width: 768px) {
          padding-top: 30px;
          z-index: -1;
        }
      }
    }
    .menu-item:hover > .sub-menu {
      display: block;
      @media screen and (min-width: 768px) {
        position: absolute;
      }

      a {
        color: var(--black);
        padding: 5px 10px;
      }
    }
  }
 
  .main-menu {
    width: 100%;
      ul {
        flex-direction: column;
        @media screen and (min-width: 768px) {
        flex-direction: row;
      }
    }
  }

  body {
    background-color: black;
  }
  

  .hamburger-menu {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    height: 1.7rem;
    width: 1.7rem;
    cursor: pointer;
  }
  .bar-top,
  .bar-middle,
  .bar-bottom {
    height: 3px;
    background:#0f65da;
    border-radius: 5px;
    margin: 3px 0;
    transform-origin: left;
    transition: all 0.5s;
  }
  .hamburger-menu.active .bar-top {
    transform: rotate(45deg);
  }
  .hamburger-menu.active .bar-middle {
    transform:translateX(1rem);
    opacity: 0;
  }
  .hamburger-menu.active .bar-bottom {
    transform: rotate(-45deg);
  }  

  .mob-header {
    position: absolute;
    background: white;
    left: 0;
    padding-top: 50px;
    top: 0;
    height: 150vh;
    z-index: 10;
    li {
      font-size: 32px;
    }
    @media screen and (min-width: 768px) {
      position: unset;
      padding-top: 0px;
      li {
        font-size: inherit;
      }
    }
  }
 
  
  .content, .header-logo {
    position: relative;
    z-index: 19999;
  }

  @media screen and (max-width: 460px) {
    .header-logo {
      max-width: 160px !important;
    }
  }
  .mob-account-details {
    display: flex;
  }
  .current-menu-item {
    font-weight: 700;
  }
  .banner {
    z-index: 19999;
  }
}

  