.page-template-magic-journey {
    .text {
        max-width: 890px;
        margin: 0 auto;
        padding-bottom: 110px;
    }
    .selection-section {
        padding: 70px 0;
    }
    h2 {
        font-size: 30px;
    }
    img {
        margin-bottom: 30px;
    }
    .title {
        color: var(--blue);
    }
}