#cta-section {
    background-image: url(images/mask.png);
    background-color: var(--blue);
    color: var(--white);
    background-repeat: no-repeat;
    background-size: auto 100%;
    .btn {
        background: var(--white); 
        color: var(--black);
    }
    .container {
        text-align: center;
        @media screen and (min-width: 768px) {
            text-align: left;
        }
    }
    a {
        color: white;
    }
}