#cta-section {
    background-image: url(images/mask.png);
    background-color: var(--blue);
    color: var(--white);
    background-repeat: no-repeat;
    background-size: auto 100%;
    .btn {
        background: var(--white); 
        color: var(--black);
    }
}