#product-slider {
    .slick-track.slick-track-less-than-slidesToShow {
        margin-left: 0;
    }
    .product-slider .slick-dots {
        list-style: none;
        display: flex;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 25px;
        margin-top: 50px;
        button {
            outline: none;
            border: none;
            height: 4px;
            width: 40px;
            margin-right: 5px;
        }
        .slick-active button {
            width: 100px;
            background: #0D66DB;
            height: 6px;
        }
        li button {
            text-indent: -9999px;
         }
    }
    
}