#steps-section {
    @media screen and (min-width: 768px) {
        padding: 60px 0;
    }
    
    .step {
        position: relative;
        .content {
            p {
                font-size: 14px;
                @media screen and (min-width: 768px) {
                    font-size: 16px;
                }
            }
            h2, p {
                text-align: center;
                @media screen and (min-width: 768px) {
                    text-align: left;
                }

            }
        }
        .page-template-magic-journey & {
            &:after {
                @media screen and (min-width: 768px) {
                    display: none !important;
                }
            }
        }
    }
    .image {
        position: relative;
        img {
            max-width: 100%;
            width: 100%;
            max-height: 250px;
            object-fit: cover;
            border-radius: 10px;
        }
    }
    .arrow {
        p {
            @media screen and (min-width: 768px) {
                max-width: 90%;
            }
        }
    }
    .step:nth-child(odd)  .image {
        @media screen and (min-width: 768px) {
            &:after {
                font-family: "FontAwesome";
                content: "\f061";
                font-weight: normal;
                color: var(--white);
                font-size: 12px;
                position: absolute;
                right: -45px;
                top: 45%;
                background: var(--blue);
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                align-content: center;
                justify-content: center;
                border-radius: 50%;
            }
        }
    }
    @media screen and (max-width: 767px) {
    .step:last-child {
        &:after {
            display: none;
        }
    }
    .step {
        &:after {
            @media screen and (max-width: 767px) {
                top: 100%;
            }
                font-family: "FontAwesome";
                content: "\f061";
                font-weight: normal;
                color: var(--white);
                font-size: 12px;
                position: absolute;
                background: var(--blue);
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                align-content: center;
                justify-content: center;
                border-radius: 50%;
                transform: rotate(90deg);
                right: 45%;
                top: 105%;
            }
        }
    }

    


    .step:nth-child(odd)  {
        &:after {
            @media screen and (min-width: 768px) {
                font-family: "FontAwesome";
                content: "\f061";
                font-weight: normal;
                color: var(--white);
                font-size: 12px;
                position: absolute;
                background: var(--blue);
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                align-content: center;
                justify-content: center;
                border-radius: 50%;
                transform: rotate(0deg);
                right: -45px;
                top: 45%;
            }
        }
    }
    @media screen and (min-width: 768px) {
        .step:nth-child(3n + 1)  .image {
            &:after {
                font-family: "FontAwesome";
                content: "\f061";
                font-weight: normal;
                color: var(--white);
                font-size: 12px;
                position: absolute;
                right: -45px;
                top: 45%;
                background: var(--blue);
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                align-content: center;
                justify-content: center;
                border-radius: 50%;
            }
        }
        .step:nth-child(3n + 1) {
            &:after {
                font-family: "FontAwesome";
                content: "\f061";
                font-weight: normal;
                color: var(--white);
                font-size: 12px;
                position: absolute;
                right: 10px;
                top: 65px;
                background: var(--blue);
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                align-content: center;
                justify-content: center;
                border-radius: 50%;
            }
        }
        .step:nth-child(3n + 2) .image {
            padding: 0 15px;
            &:after {
                font-family: "FontAwesome";
                content: "\f061";
                font-weight: normal;
                color: var(--white);
                font-size: 12px;
                position: absolute;
                right: -30px;
                top: 45%;
                background: var(--blue);
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                align-content: center;
                justify-content: center;
                border-radius: 50%;
            }
        }
        .step:nth-child(3n + 2) {
            padding: 0 15px;
            &:after {
                font-family: "FontAwesome";
                content: "\f061";
                font-weight: normal;
                color: var(--white);
                font-size: 12px;
                position: absolute;
                right: -5px;
                top: 65px;
                background: var(--blue);
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                align-content: center;
                justify-content: center;
                border-radius: 50%;
            }
        }
        .step:nth-child(3n + 1), .step:nth-child(3n + 1):nth-child(3n + 1) {
            padding-right: 30px;
        }
        .step:nth-child(3n + 2),  .step:nth-child(3n + 2) {
            padding: 0 15px;
        }
        .step:nth-child(3n + 3),   .step:nth-child(3n + 3)  {
            padding-left: 30px;
            &:after {
                display: none;
            }
        }
        .step:last-child .image, .step:last-child {
            &::after {
                display: none;
            }
        }
    }
    .step:nth-child(3n + 3) .image  {
        &:after {
            display: none !important;
        }
    }
    
}