#accordion {
.acc-container {
    width: 100%;
    margin: auto;
  }
  .acc-container .acc-body {
    margin: 0 auto;
    height: 0;
    color: rgba(0, 0, 0, 0);;
    background-color: rgba(255, 255, 255, 0.2);
    line-height: 28px;
    padding: 0 20px;
    box-sizing: border-box;
    transition: 0.5s;
    border-top: 1px solid var(--black);
  }
  
  .acc-container label {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    display: block;
    padding: 15px 0;
    width: 100%;
    color: var(--black);
    font-weight: 400;
    box-sizing: border-box;
    z-index: 100;
    font-size: 18px;
  }
  
  .acc-container input{
    display: none;
  }
  
  .acc-container label:before {
    font-family: 'FontAwesome';
    content: '\f067';
    font-weight: normal;
    float: right;
    background-color: var(--blue);
    color: var(--white);
    padding: 3px 7px;
    border-radius: 50%;
    font-size: 12px;
    position: relative;
    top: 7px;
  }
  
  .acc-container input:checked+label {
    background-color: rgba(255, 255, 255, 0.15);
  }
  
  .acc-container input:checked+label:before {
    font-family: 'FontAwesome';
    content: '\f00d';
    transition: 0.5s;
  }
  
  .acc-container input:checked~.acc-body {
    height: auto;
    color: var(--black);
    font-size: 16px;
    padding: 20px;
    transition: 0.5s;
  }
  .faq {
    text-decoration: underline;
    color: var(--blue);
    display: inline-block;
    font-family: "Poppins-SemiBold", cursive;
  }
  .arrow {
    &:after {
      font-family: "FontAwesome";
      content: "\f061";
      font-weight: normal;
      color: var(--blue);
      font-size: 12px;
      position: relative;
      left: 4px;
    }
  }
}