#three-column-section {
    @media screen and (min-width: 768px) {
        .divider {
            border-left: 1px solid #2C3258;
            border-right: 1px solid #2C3258;
        } 
    }
    .container {
        max-width: unset;
    }
    h3 {
        font-family: "Poppins-Bold", cursive;
        font-size: 26px;
        padding-bottom: 20px;
    }
}